antlr4-python3-runtime==4.9.3
colorama==0.4.6
contourpy==1.3.1
cycler==0.12.1
filelock==3.17.0
fonttools==4.56.0
fsspec==2025.3.0
hydra-core==1.3.2
iopath==0.1.10
Jinja2==3.1.6
kiwisolver==1.4.8
MarkupSafe==3.0.2
matplotlib==3.10.1
mpmath==1.3.0
networkx==3.4.2
numpy==2.2.3
omegaconf==2.3.0
opencv-python==4.11.0.86
packaging==24.2
pillow==11.1.0
portalocker==3.1.1
pyparsing==3.2.1
python-dateutil==2.9.0.post0
pywin32==309
PyYAML==6.0.2
SAM-2 @ git+https://github.com/facebookresearch/sam2.git@2b90b9f5ceec907a1c18123530e92e794ad901a4
six==1.17.0
sympy==1.13.1
torch==2.6.0
torchvision==0.21.0
tqdm==4.67.1
typing_extensions==4.12.2
